body {
  background: white;
  color: black;

  font-size: 14px;
  font-family: sans-serif;

  margin: 10px;
}

#header {
  font-size: 22px;

  margin-bottom: 10px;
}

#input-area {
  margin-bottom: 10px;
}

input {
  margin-right: 5px;
}

table {
  width: 100%;

  border-collapse: collapse;
}

th, td {

  border: 1px solid #aaa;

  padding: 4px;

  text-align: left;

  vertical-align: top;
}

th {
  background: #eee;
}

.hash {
  color: #888;
}

.command {
  color: #299;
}

.system {
  color: #777;
  font-style: italic;
}
